<div class="jumbotron">


<h2>Velkommen til Postludiet</h2>
Under udarbejdelse</br>

<% if ! user_signed_in? %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
<% end %>

</div>
