<div class="jumbotron">

  <div id="items">
  <% @items.each do |item| %>
    <!-- div class="box" -->
      <%= if item.image %>
      <%= link_to image_tag( item.image.url(:thumb)), item if item.image %>
      <% end %>
      <% item.description %>
      <% item.user.email if item.user %>
      <% if item.user == current_user %>
        <% link_to 'Edit', edit_item_path(item) %>
        <% link_to 'Destroy', item, method: :delete, data: { confirm: 'Er du sikker?' } %>
      <% end %>
    <!-- /div -->
  <% end %>


  <% if user_signed_in? %>
    <% link_to 'New Item', new_item_path %>
  <% end %>
  </div>
</div>
